*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/** navbar start **/

nav{
    height: 15vh;
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links_row{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.nav_img_links{
    width: calc(100%/5);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_img_links img{
    width: 45px;
    height: 45px;
}
.nav_img_links p{
    color: white;
    font-size: small;
}
input{
    display: none;
}

/** navbar done **/

/*& main start &*/

/*~ section 1 */

.section_1{
    width: 100%;
    height: 35vh;
    background-color: #334d5c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.section_1 div {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section_1 img {
    height: 65%;
    width: fit-content;
}

/*~ section 1 done */

/*~ section 2 */

.section_2{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre{
    height: 55px;
    width: 16%;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
    color: white;
}
.img_text{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.img_text p {
    width: 40%;
}
.img_text img {
    margin-top: 45px;
}

/*~ section 2 done */

/*~ section 3 */

.section_3{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eae3d6;
}
.parts{
    width: calc(100%/4);
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 80px;
}

/*~ section 3 done */

/*~ section 4 */

.section_4{
    height: 75vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre{
    height: 55px;
    width: 16%;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
}
.img_text{
    display: flex;
    /* background-color: blanchedalmond; */
    align-items: center;
    justify-content: space-evenly;
    gap: 180px;
}
.img_text p {
    width: 40%;
}
.img_text img {
    margin-top: 45px;
}

/*~ section 4 done */

/*~ section 5 */ 

.section_5{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eae3d6;
    flex-wrap: wrap;
}
.parts{
    width: calc(100%/4);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 80px;
}

/*~ section done */ 

/*~ section 6 */

.section_6{
    height: 75vh;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre{
    height: 55px;
    width: 16%;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
}
.img_text{
    display: flex;
    /* background-color: blanchedalmond; */
    align-items: center;
    justify-content: space-evenly;
    gap: 180px;
}
.img_text p {
    width: 40%;
}
.img_text img {
    margin-top: 45px;
}

/*~ section 6 done */

/*~ section 7 */

.section_7{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #eae3d6;
}
.parts{
    width: calc(100%/4);
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 80px;
}

/*~ section 7 done */

/*& main done &*/

/*! footer start */

footer{
    display: flex;
    height: 40vh;
    width: 100%;
    background-color: #393a3b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}
.footer_parts{
    width: calc(70%/3);
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
}
.footer_parts img {
    width: 75px;
}
.footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.google{
    margin-right: 80px;
}

/*! footer done */

@media (max-width:430px){
/*^ navbar */

nav{
    height: 100%;
    padding: 20px;
    width: 40vw;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    gap: 40px;
    left: -40vw;
    transition: 0.5s;
}
.links_row{
    flex-direction: column;
    height: 60%;
    gap: 16px;
}
nav img {
    width: 90%;
}
input{
    display: block;
    position: fixed;
    right: 0;
}
input:checked + nav {
    left: 0;
}

/*^ navbar done */

/*^ main */


/*~ section 1 */
*{
    font-size: 25px;
}

.section_1{
    width: 100%;
    height: fit-content;
    background-color: #334d5c;
    align-items: center;
    color: white;
    flex-direction: column;
    padding: 70px;
    gap: 20px;
}
.section_1 img {
    width: 140px;
    height: 50%;
}
.section_1 div {
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    gap: 20px;
}

/*~ section 1 done */

/*~ section 2 */

.section_2{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 40px;
}
.titre{
    width: fit-content;
    height: fit-content;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
    color: white;
}
.img_text{
    height: fit-content;
    flex-direction: column;
    justify-content: end;
    gap: 0px;
    justify-content: space-evenly;
    height: fit-content;
    gap: 20px;
}
.img_text p {
    width: fit-content;
    height: fit-content;
}
.img_text img {
    margin-top: 0px;
    height: 100px;
}

/*~ section 2 done */

/*~ section 3 */

.section_3{
    height: fit-content;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #eae3d6;
    gap: 20px;
}
.parts{
    width: calc(80%/4);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 60px;
}
.parts p {
    font-size: 14px;
    display: flex;
    text-align: center;
}

/*~ section 3 */

/*~ section 4 */

.section_4{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
}
.titre{
    height: 55px;
    width: fit-content;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
    color: white;
}
.img_text{
    flex-direction: column;
    justify-content: end;
    gap: 0px;
    justify-content: space-evenly;
    height: fit-content;
    gap: 20px;
}
.img_text p {
    width: 80%;
}
.img_text img {
    margin-top: 0px;
    height: 100px;
}


/*~ section 4 */

/*~ section 5 */

.section_5{
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #eae3d6;
    gap: 20px;
}
.parts{
    width: calc(80%/4);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 80px;
}
.parts p {
    font-size: 14px;
    display: flex;
    text-align: center;
}


/*~ section 5 */

/*~ section 6 */

.section_6{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 40px;
}
.titre{
    height: 55px;
    width: fit-content;
    background-color: #334d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
    color: white;
}
.img_text{
    flex-direction: column;
    justify-content: end;
    gap: 0px;
    justify-content: space-evenly;
    height: fit-content;
    gap: 20px;
}
.img_text p {
    width: 80%;
}
.img_text img {
    margin-top: 0px;
    height: 100px;
}


/*~ section 7 */

.section_7{
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #eae3d6;
    gap: 20px;
}
.parts{
    width: calc(80%/4);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.parts img{
    width: 60px;
}
.parts p {
    font-size: 14px;
    display: flex;
    text-align: center;
}

/*~ section 7 */

/*^ main done */

/*! footer */

footer{
    display: flex;
    height: 50vh;
    width: 100%;
    background-color: #393a3b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}
.footer_parts{
    width: fit-content;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
}
.footer_parts img {
    width: 45px;
}
.footer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    gap: 15px;
}
.google{
    margin-right: 0px;
}


/*! footer done */